body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
h1 {
  font-family: "Fascinate Inline", system-ui;
}
.btn {
  background-color: #ff8225;
  color: white;
  transition: all 1s;
}
.btn:hover {
  background-color: #b43f3f;
}
.content {
  height: 60%;
}

.quote-card {
  height: 40%;
}

blockquote {
  font-family: "Nerko One", cursive;
  color: white;
  font-size: 40px;
  width: 70%;
}

.quote-card span {
  font-size: 25px;
}
